@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: white;
  margin: 0;
  font-family: "NotoSansKR ";
  /* overflow-x: hidden; */
}

/* Def */

/*
-----------------
----Home-Main----
-----------------
*/

/* PC+ */
@media all and (min-width: 1200px) {
  .home-main {
    background-image: url("../../public/assets/home/Home_Main_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
  }

  .home-main-container {
    max-width: 1200px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home-main-left {
    text-align: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .home-main-left-title {
    font-family: "Noto Sans KR";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-main-left-title p {
    font-size: 3.3em;
    line-height: 75px;
    margin-top: 0px;
    margin-bottom: -10px;
  }

  .home-main-left-subtext {
    font-family: "Noto Sans KR";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .home-main-left-subtext p {
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .home-main-right {
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-right-image {
    width: 470px;
    height: 377px;
  }
}

/* PC */
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .home-main {
    background-image: url("../../public/assets/home/Home_Main_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /*height: calc(100vh - 500px);*/
    height: auto;
  }

  .home-main-container {
    max-width: 1200px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home-main-left {
    text-align: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .home-main-left-title {
    font-family: "Noto Sans KR";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-main-left-title p {
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: -10px;
  }

  .home-main-left-subtext {
    font-family: "Noto Sans KR";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .home-main-left-subtext p {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .home-main-right {
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-right-image {
    width: 393px;
    height: 315px;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-main {
    background-image: url("../../public/assets/home/Home_Main_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /*height: calc(100vh - 400px);*/
    height: auto;
  }

  .home-main-container {
    max-width: 1200px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home-main-left {
    text-align: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .home-main-left-title {
    font-family: "Noto Sans KR";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-main-left-title p {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: -10px;
    line-height: 1.7em;
  }

  .home-main-left-subtext {
    font-family: "Noto Sans KR";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .home-main-left-subtext p {
    font-size: 0.8em;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .home-main-right {
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-right-image {
    width: 287px;
    height: 230px;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-main {
    background-image: url("../../public/assets/home/Home_Main_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /*height: calc(100vh - 100px);*/
    height: auto;
  }

  .home-main-container {
    /* max-width: 1200px; */
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .home-main-left {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-left-title {
    font-family: "Noto Sans KR";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-main-left-title p {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: -10px;
    line-height: 2em;
  }

  .home-main-left-subtext {
    font-family: "Noto Sans KR";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .home-main-left-subtext p {
    font-size: 0.75em;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .home-main-right {
    text-align: center;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-right-image {
    padding-top: 15px;
    width: 201px;
    height: 161px;
  }
}

@media all and (max-width: 479px) {
  .home-main {
    background-image: url("../../public/assets/home/Home_Main_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /*height: calc(100vh - 100px);*/
    height: auto;
  }

  .home-main-container {
    /* max-width: 1200px; */
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .home-main-left {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-left-title {
    font-family: "Noto Sans KR";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-main-left-title p {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: -10px;
    line-height: 2em;
  }

  .home-main-left-subtext {
    font-family: "Noto Sans KR";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .home-main-left-subtext p {
    font-size: 0.75em;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .home-main-right {
    text-align: center;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-main-right-image {
    padding-top: 15px;
    width: 201px;
    height: 161px;
  }
}

/*
-----------------
-Home-Statistics-
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-statistics {
    height: auto;
  }

  .home-statistics-container {
    height: 100%;
    max-width: 1200px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .home-statistics-title span {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
  }

  .home-statistics-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item-title {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
    color: rgba(230, 63, 55, 1);
  }

  .home-statistics-item-number {
    font-family: "Noto Sans KR";
    font-size: 3em;
    font-weight: 600;
    color: black;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-statistics {
    height: auto;
  }

  .home-statistics-container {
    height: 100%;
    max-width: 1200px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .home-statistics-title span {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
  }

  .home-statistics-contents {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
    grid-template-columns: 200px 200px;
    grid-template-rows: 180px 180px;
    grid-column-gap: 50px;
  }

  .home-statistics-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item-title {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
    color: rgba(230, 63, 55, 1);
  }

  .home-statistics-item-number {
    font-family: "Noto Sans KR";
    font-size: 3em;
    font-weight: 600;
    color: black;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-statistics {
    height: auto;
  }

  .home-statistics-container {
    height: 100%;
    max-width: 1200px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .home-statistics-title span {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
  }

  .home-statistics-contents {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item-title {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
    color: rgba(230, 63, 55, 1);
  }

  .home-statistics-item-number {
    font-family: "Noto Sans KR";
    font-size: 3em;
    font-weight: 600;
    color: black;
  }
}

@media all and (max-width: 479px) {
  .home-statistics {
    height: auto;
  }

  .home-statistics-container {
    height: 100%;
    max-width: 1200px;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home-statistics-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .home-statistics-title span {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
  }

  .home-statistics-contents {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-statistics-item-title {
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
    color: rgba(230, 63, 55, 1);
  }

  .home-statistics-item-number {
    font-family: "Noto Sans KR";
    font-size: 3em;
    font-weight: 600;
    color: black;
  }
}

/*
-----------------
----Home-Wish----
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-wish {
    background-color: black;
    height: auto;
  }

  .home-wish-container {
    max-width: 1200px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 50px;
  }

  .home-wish-emoji {
    width: 77px;
    height: 77px;
  }

  .home-wish-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    margin-top: 12px;
  }

  .home-wish-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-wish-item {
    width: 750px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .home-wish-item-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .home-wish-item img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
  }

  .home-wish-item-container span {
    font-family: "Noto Sans KR";
    font-weight: 500;
  }

  .home-wish-item-container span span {
    background-image: linear-gradient(to top, #e6403765, #e640374b);
    background-size: 100% 11px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgba(230, 63, 55, 1);
    font-weight: 700;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-wish {
    background-color: black;
    height: auto;
  }

  .home-wish-container {
    max-width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 50px;
  }

  .home-wish-emoji {
    width: 77px;
    height: 77px;
  }

  .home-wish-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    margin-top: 12px;
  }

  .home-wish-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-wish-item {
    width: 550px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .home-wish-item-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .home-wish-item img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
  }

  .home-wish-item-container span {
    font-family: "Noto Sans KR";
    font-weight: 500;
  }

  .home-wish-item-container span span {
    background-image: linear-gradient(to top, #e6403765, #e640374b);
    background-size: 100% 11px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgba(230, 63, 55, 1);
    font-weight: 700;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-wish {
    background-color: black;
    height: auto;
  }

  .home-wish-container {
    max-width: 1200px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 50px;
  }

  .home-wish-emoji {
    width: 77px;
    height: 77px;
  }

  .home-wish-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    margin-top: 12px;
  }

  .home-wish-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-wish-item {
    width: 420px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .home-wish-item-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .home-wish-item img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
  }

  .home-wish-item-container span {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 0.8em;
  }

  .home-wish-item-container span span {
    background-image: linear-gradient(to top, #e6403765, #e640374b);
    background-size: 100% 11px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgba(230, 63, 55, 1);
    font-weight: 700;
    font-size: 1em;
  }
}

@media all and (max-width: 479px) {
  .home-wish {
    background-color: black;
    height: auto;
  }

  .home-wish-container {
    max-width: 479px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .home-wish-emoji {
    width: 77px;
    height: 77px;
  }

  .home-wish-title h2 {
    font-family: "Noto Sans KR";
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    margin-top: 12px;
    text-align: center;
  }

  .home-wish-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-wish-item {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .home-wish-item-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .home-wish-item img {
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
  }

  .home-wish-item-container span {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
  }

  .home-wish-item-container span span {
    background-image: linear-gradient(to top, #e6403765, #e640374b);
    background-size: 100% 11px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgba(230, 63, 55, 1);
    font-weight: 700;
    font-size: 1em;
  }
}

/*
-----------------
----Home-Wish---- ( baseline )
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-wish-baseline {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-wish-baseline {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile */
@media all and (max-width: 767px) {
  .home-wish-baseline {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-wish-baseline img {
    width: 204px;
    height: 38px;
  }
}

/*
-----------------
----Home-Wish----
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-benefits {
    background-color: white;
    height: auto;
  }

  .home-benefits-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-benefits-title {
    text-align: center;
  }

  .home-benefits-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-benefits-title h2 {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-benefits-contents {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-auto-rows: 350px;
    grid-gap: 10px;
  }

  .home-benefits-item {
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .home-benefits-item span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 0.8em;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .home-benefits-item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .home-benefits-item-explanation {
    font-size: 0.8em;
    color: rgba(142, 142, 142, 1);
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .home-benefits-item-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-benefits {
    background-color: white;
    height: auto;
  }

  .home-benefits-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-benefits-title {
    text-align: center;
  }

  .home-benefits-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-benefits-title h2 {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-benefits-contents {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-auto-rows: 350px;
    grid-gap: 10px;
  }

  .home-benefits-item {
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .home-benefits-item span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 0.8em;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .home-benefits-item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .home-benefits-item-explanation {
    font-size: 0.8em;
    color: rgba(142, 142, 142, 1);
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .home-benefits-item-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-benefits {
    background-color: white;
    height: auto;
  }

  .home-benefits-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-benefits-title {
    text-align: center;
    max-width: 400px;
  }

  .home-benefits-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-benefits-title h2 {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-benefits-contents {
    display: grid;
    grid-template-columns: 320px;
    grid-auto-rows: 350px;
    grid-gap: 10px;
  }

  .home-benefits-item {
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .home-benefits-item span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 0.8em;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .home-benefits-item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .home-benefits-item-explanation {
    font-size: 0.8em;
    color: rgba(142, 142, 142, 1);
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .home-benefits-item-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;
  }
}

@media all and (max-width: 479px) {
  .home-benefits {
    background-color: white;
    height: auto;
  }

  .home-benefits-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-benefits-title {
    text-align: center;
    max-width: 400px;
  }

  .home-benefits-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-benefits-title h2 {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-benefits-contents {
    display: grid;
    grid-template-columns: 220px;
    grid-auto-rows: 250px;
    grid-gap: 10px;
  }

  .home-benefits-item {
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-benefits-item span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 0.8em;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .home-benefits-item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Noto Sans KR";
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
  }

  .home-benefits-item-explanation {
    font-size: 0.8em;
    color: rgba(142, 142, 142, 1);
    padding-bottom: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .home-benefits-item-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
  }

  .home-benefits-item-img img {
    width: 92px;
    height: 64px;
  }
}

/*
-----------------
--Home-Activity--
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-activity {
    background-color: rgba(244, 244, 244, 1);
    height: auto;
  }

  .home-activity-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-activity-title {
    text-align: center;
  }

  .home-activity-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-activity-title h2 {
    font-family: "Noto Sans KR";
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 35px;
  }

  .home-activity-subtitle {
    font-family: "Noto Sans KR";
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-activity-subtitle span {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-activity-taps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .home-activity-button {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .activated-activity {
    color: white;
    background-color: rgba(230, 63, 55, 1);
  }

  .inActivated-activity {
    color: rgba(153, 153, 153, 1);
    background-color: rgba(216, 216, 216, 1);
  }

  .home-activity-button:hover {
    cursor: pointer;
  }

  .home-activity-explanation {
    max-width: 1200px;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
  }

  .home-activity-explanation span {
    white-space: pre-line;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.1em;
    line-height: 27px;
  }

  .home-activity-image {
    text-align: center;
    width: 100%;
  }

  .home-activity-image img {
    text-align: center;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-activity {
    background-color: rgba(244, 244, 244, 1);
    height: auto;
  }

  .home-activity-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-activity-title {
    text-align: center;
  }

  .home-activity-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-activity-title h2 {
    font-family: "Noto Sans KR";
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 35px;
  }

  .home-activity-subtitle {
    font-family: "Noto Sans KR";
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-activity-subtitle span {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-activity-taps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .home-activity-button {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .activated {
    color: white;
    background-color: rgba(230, 63, 55, 1);
  }

  .inActivated {
    color: rgba(153, 153, 153, 1);
    background-color: rgba(216, 216, 216, 1);
  }

  .home-activity-button:hover {
    cursor: pointer;
  }

  .home-activity-explanation {
    max-width: 1200px;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
  }

  .home-activity-explanation span {
    white-space: pre-line;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.1em;
    line-height: 27px;
  }

  .home-activity-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-activity {
    background-color: rgba(244, 244, 244, 1);
    height: auto;
  }

  .home-activity-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-activity-title {
    text-align: center;
    width: 100%;
  }

  .home-activity-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-activity-title h2 {
    font-family: "Noto Sans KR";
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 35px;
  }

  .home-activity-subtitle {
    font-family: "Noto Sans KR";
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-activity-subtitle span {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-activity-taps {
    display: flex;
    flex-flow: wrap;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .home-activity-button {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .activated {
    color: white;
    background-color: rgba(230, 63, 55, 1);
  }

  .inActivated {
    color: rgba(153, 153, 153, 1);
    background-color: rgba(216, 216, 216, 1);
  }

  .home-activity-button:hover {
    cursor: pointer;
  }

  .home-activity-explanation {
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .home-activity-explanation span {
    white-space: pre-line;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.1em;
    line-height: 27px;
  }

  .home-activity-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-activity-image img {
    width: 343px;
    height: 202px;
  }
}

@media all and (max-width: 479px) {
  .home-activity {
    background-color: rgba(244, 244, 244, 1);
    height: auto;
  }

  .home-activity-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-activity-title {
    text-align: center;
    width: 100%;
  }

  .home-activity-title span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-activity-title h2 {
    font-family: "Noto Sans KR";
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 35px;
  }

  .home-activity-subtitle {
    font-family: "Noto Sans KR";
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-activity-subtitle span {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-activity-taps {
    display: flex;
    flex-flow: wrap;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .home-activity-button {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .activated {
    color: white;
    background-color: rgba(230, 63, 55, 1);
  }

  .inActivated {
    color: rgba(153, 153, 153, 1);
    background-color: rgba(216, 216, 216, 1);
  }

  .home-activity-button:hover {
    cursor: pointer;
  }

  .home-activity-explanation {
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .home-activity-explanation span {
    white-space: pre-line;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.1em;
    line-height: 27px;
  }

  .home-activity-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-activity-image img {
    width: 238px;
    height: 140px;
  }
}

/*
-----------------
---Home-Ability--
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-ability {
    height: auto;
    background-color: rgba(255, 255, 255, 1);
  }

  .home-ability-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home-ability-title {
    font-family: "Noto Sans KR";
    text-align: center;
  }

  .home-ability-title span {
    color: rgba(230, 63, 55, 1);
    font-size: 1em;
    font-weight: 700;
  }

  .home-ability-title h2 {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-ability-contents {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-ability-item {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 15px;
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home-ability-item-number {
    width: 43px;
    height: 27px;
    background-color: rgba(255, 239, 239, 1);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .home-ability-item-number span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-ability-item-title {
    margin-bottom: 10px;
    line-height: 26px;
  }

  .home-ability-item-title span {
    font-family: "Noto Sans KR";
    font-size: 1.1em;
    font-weight: 700;
  }

  .home-ability-item-explanation {
    line-height: 19px;
  }

  .home-ability-item-explanation span {
    color: rgba(142, 142, 142, 1);
    font-family: "Noto Sans KR";
    font-size: 0.8em;
    font-weight: 400;
  }
}

/*
-----------------
----Home-Games---
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-games {
    height: auto;
    background-color: black;
  }

  .home-games-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-games-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .home-games-left span {
    color: rgba(230, 63, 55, 1);
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 700;
  }

  .home-games-left h1 {
    font-family: "Noto Sans KR";
    margin-top: 5px;
    margin-bottom: 0px;
    color: white;
  }

  .home-games-left p {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 30px;
    color: gray;
  }

  .home-games-left button {
    border: none;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(230, 63, 55, 1);
    border-radius: 8px;
    color: white;
    font-family: "Noto Sans KR";
    font-weight: 500;
  }
}

/*
-----------------
-Home-Curriculum-
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-curriculum {
    height: auto;
    background-color: rgba(27, 27, 29, 1);
  }

  .home-curriculum-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-curriculum-title {
    text-align: center;
  }

  .home-curriculum-title h2 {
    color: white;
    margin-bottom: 5px;
  }

  .home-curriculum-title span {
    color: rgba(136, 136, 136, 1);
    font-size: 0.8em;
    font-weight: 400;
  }

  .home-curriculum-contents {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
  }

  .home-curriculum-contents button {
    background-color: transparent;
    border: none;
  }

  .home-curriculum-contents button img {
    width: 45px;
    height: 45px;
  }

  .home-curriculum-btn-disabled {
    cursor: default;
  }

  .home-curriculum-btn-enabled {
    cursor: pointer;
  }

  .home-curriculum-contents span {
    color: white;
    width: 100px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    font-family: "Noto Sans KR";
  }

  .home-curriculum-table {
    max-width: 1000px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1.5px solid rgba(230, 63, 55, 1);
  }

  .home-curriculum-table table {
    border-spacing: 0px;
    border-collapse: collapse;
  }

  .home-curriculum-table th {
    padding: 10px;
    color: rgba(230, 63, 55, 1);
    text-align: center;
    vertical-align: middle;
    font-family: "Noto Sans KR";
  }

  .home-curriculum-table td {
    font-family: "Noto Sans KR";
    padding: 15px;
    border-top: 0.5px solid rgb(78, 78, 78);
    border-bottom: 0.5px solid rgb(78, 78, 78);
    border-collapse: collapse;
    text-align: center;
    color: white;
    vertical-align: middle;
  }

  .home-curriculum-table-date {
    width: 140px;
  }

  .home-curriculum-table-content {
    width: 420px;
  }
}

/*
-----------------
-Home-Curriculum-
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-review {
    background-color: white;
    height: auto;
  }

  .home-review-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-review-title {
    text-align: center;
  }

  .home-review-logos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logoslider {
    width: 100%;
    height: 300px;
    background-color: white;
  }

  .animation_list {
    width: 6510px;
    width: auto;
    display: flex;
  }

  .logoslider-container {
    width: 3255px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-left: 60px;
  }

  .img-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .animation {
    animation-name: infinite_slide;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes infinite_slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      /* transform: translateX(calc(-100% - 1352px)); */
      /* transform: translateX(calc(-3255px)); */
      transform: translateX(calc(-3315px));
      /* 한 컨테이너가 완벽히 끝나면 바로 리셋 할 수 있게 하기 위해,
      사이즈를 컨테이너 width 만큼 계산 + 컨테이너 시작의 왼쪽 마진 값
      3225px + 60px = 3315px
      */
    }
  }
}
