@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

/* PC */
@media all and (min-width: 1024px) {
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile- */
@media all and (max-width: 479px) {
}

/* Def */

/*
-----------------
--Inquiry-Main---
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .inquiry-main{
    height: auto;
    background-color: black;
  }

  .inquiry-main-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .inquiry-title{
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .inquiry-title h2{
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 2.4em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inquiry-title span{
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1em;
  }

  .inquiry-btn button{
    border: none;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(230, 63, 55, 1);
    border-radius: 8px;
    color: white;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1em;
  }
  
  .inquiry-btn button:hover{
    cursor: pointer;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .inquiry-main{
    height: auto;
    background-color: black;
  }

  .inquiry-main-container{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .inquiry-title{
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .inquiry-title h2{
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 2.4em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inquiry-title span{
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1em;
  }

  .inquiry-btn button{
    border: none;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(230, 63, 55, 1);
    border-radius: 8px;
    color: white;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1em;
  }
  
  .inquiry-btn button:hover{
    cursor: pointer;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .inquiry-main{
    height: auto;
    background-color: black;
  }

  .inquiry-main-container{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .inquiry-title{
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .inquiry-title h2{
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inquiry-title span{
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1em;
  }

  .inquiry-btn button{
    border: none;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(230, 63, 55, 1);
    border-radius: 8px;
    color: white;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1em;
  }
  
  .inquiry-btn button:hover{
    cursor: pointer;
  }
}

/* Mobile- */
@media all and (max-width: 479px) {
  .inquiry-main{
    height: auto;
    background-color: black;
  }

  .inquiry-main-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .inquiry-title{
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .inquiry-title h2{
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inquiry-title span{
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.9em;
  }

  .inquiry-btn button{
    border: none;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: rgba(230, 63, 55, 1);
    border-radius: 8px;
    color: white;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1em;
  }
  
  .inquiry-btn button:hover{
    cursor: pointer;
  }
}

/*
-----------------
---Inquiry-FAQ---
-----------------
*/

/* PC */
@media all and (min-width: 1024px) {
  .home-faq {
    background-color: white;
    height: auto;
  }

  .home-faq-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-faq-title {
    text-align: center;
  }

  .home-faq-title>h2 {
    font-family: "Noto Sans KR";
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-faq-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home-faq-accordion {
    width: 800px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
  }

  input[id*="answer"] {
    display: none;
  }

  input[id*="answer"]+label {
    font-family: "Noto Sans KR";
    display: block;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 0;
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    background: rgb(247, 247, 247);
    cursor: pointer;
    position: relative;
  }

  input[id*="answer"]+label span {
    font-weight: 900;
    color: rgba(230, 63, 55, 1);
  }

  input[id*="answer"]+label+em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
  }

  input[id*="answer"]+label+div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Noto Sans KR";
    max-height: 0;
    transition: all 0.35s;
    overflow: hidden;
    background: white;
    font-size: 1em;
    line-height: 1.7em;
  }

  input[id*="answer"]+label+div p {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  input[id*="answer"]:checked+label+div {
    max-height: 150px;
  }

  input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home-faq {
    background-color: white;
    height: auto;
  }

  .home-faq-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-faq-title {
    text-align: center;
  }

  .home-faq-title>h2 {
    font-family: "Noto Sans KR";
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-faq-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home-faq-accordion {
    width: 80%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
  }

  input[id*="answer"] {
    display: none;
  }

  input[id*="answer"]+label {
    font-family: "Noto Sans KR";
    display: block;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 0;
    color: #000;
    font-weight: 700;
    background: rgb(247, 247, 247);
    cursor: pointer;
    position: relative;
  }

  input[id*="answer"]+label span {
    font-weight: 900;
    color: rgba(230, 63, 55, 1);
  }

  input[id*="answer"]+label+em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
  }

  input[id*="answer"]+label+div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Noto Sans KR";
    max-height: 0;
    transition: all 0.35s;
    overflow: hidden;
    background: white;
    font-size: 0.9em;
    line-height: 1.7em;
  }

  input[id*="answer"]+label+div p {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  input[id*="answer"]:checked+label+div {
    max-height: 150px;
  }

  input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
  }
}

/* Mobile */
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-faq {
    background-color: white;
    height: auto;
  }

  .home-faq-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-faq-title {
    text-align: center;
  }

  .home-faq-title>h2 {
    font-family: "Noto Sans KR";
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-faq-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home-faq-accordion {
    width: 80%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
  }

  input[id*="answer"] {
    display: none;
  }

  input[id*="answer"]+label {
    font-family: "Noto Sans KR";
    display: block;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 0;
    color: #000;
    font-weight: 700;
    background: rgb(247, 247, 247);
    cursor: pointer;
    position: relative;
  }

  input[id*="answer"]+label span {
    font-weight: 900;
    color: rgba(230, 63, 55, 1);
  }

  input[id*="answer"]+label+em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
  }

  input[id*="answer"]+label+div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Noto Sans KR";
    max-height: 0;
    transition: all 0.35s;
    overflow: hidden;
    background: white;
    font-size: 0.9em;
    line-height: 1.7em;
  }

  input[id*="answer"]+label+div p {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  input[id*="answer"]:checked+label+div {
    max-height: 150px;
  }

  input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
  }
}

/* Mobile- */
@media all and (max-width: 479px) {
  .home-faq {
    background-color: white;
    height: auto;
  }

  .home-faq-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-faq-title {
    text-align: center;
  }

  .home-faq-title>h2 {
    font-family: "Noto Sans KR";
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .home-faq-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home-faq-accordion {
    width: 80%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
  }

  input[id*="answer"] {
    display: none;
  }

  input[id*="answer"]+label {
    font-family: "Noto Sans KR";
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-bottom: 0;
    color: #000;
    font-size: 0.7em;
    font-weight: 700;
    background: rgb(247, 247, 247);
    cursor: pointer;
    position: relative;
  }

  input[id*="answer"]+label span {
    font-weight: 900;
    color: rgba(230, 63, 55, 1);
  }

  input[id*="answer"]+label+em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
  }

  input[id*="answer"]+label+div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Noto Sans KR";
    max-height: 0;
    transition: all 0.35s;
    overflow: hidden;
    background: white;
    font-size: 0.7em;
    line-height: 1.7em;
  }

  input[id*="answer"]+label+div p {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  input[id*="answer"]:checked+label+div {
    max-height: 150px;
  }

  input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
  }
}
